<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="5">
	<listners>
		<listner class-name="test.Listners" />
	</listners>
	<test name="Personel loan">
		<classes>
			<class name="test.SampleDemo" />
			<class name="test.SampleDemo2" />
			<class name="test.SampleDemo4" />
		</classes>
	</test> <!-- Test -->
	<test name="Car loan">
		<classes>
			<class name="test.SampleDemo3">
				<methods>
					<exclude name="LoginApiCarLoan" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
